// config de variáveis:
$corDeFundo: #171717;
$corDoFundoDoBotao: #D31624;
$corDoFundoDoBotaoSecundario: #8F000A;
$corDoFundoDoBotaoDark: #000;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;